<h1>Corona Virus Live Tracker</h1>
<hr />
<div class="container">
    <div class="jumbotron">
        <label>Country :</label>
        <select (change)="getCountry($event.target.value)">
            <option *ngFor="let country of countries">
                {{country.Country}}
            </option>
        </select><br>

        <button (click)="getCoronaData()" class="btn btn-success">Get CoronoVirus Data</button><br><br>
        <h2>Total Confirmed Cases :<span>{{confirmed}}</span></h2>
        <h2>Total Recovered Cases :<span>{{recovered}}</span></h2>
        <h2>Total Death Cases :<span>{{deaths}}</span></h2>
    </div>
</div>