<!-- <app-myforms></app-myforms> -->
<!-- <app-calculator></app-calculator> -->
<!-- <app-reactform></app-reactform> -->
<!-- <app-mycal></app-mycal> -->
<!-- <app-modelforms></app-modelforms> -->
<!-- <app-dell></app-dell> -->
<!-- <app-myemp></app-myemp> -->
<!-- <app-maram></app-maram> -->
<!-- <app-employee></app-employee> -->
<!-- <app-parent></app-parent> -->
<!-- <app-one1></app-one1> -->
<!-- <app-two2></app-two2> -->
<!-- <app-ricky1></app-ricky1> -->
<!-- <app-ricky2></app-ricky2> -->
<!-- <app-tdform></app-tdform> -->
<!-- <app-maramform></app-maramform> -->
<!-- <app-reactiveforms></app-reactiveforms> -->
<!-- <app-corona></app-corona> -->
<!-- <app-loginform></app-loginform> -->
<!-- <app-json-data></app-json-data> -->
<!-- <app-post-data></app-post-data> -->
<!-- <nav class="navbar navbar-expand-sm bg-light"> -->

   <!-- Links  -->
    <!-- <ul class="navbar-nav"> -->
        <!-- <li class="nav-item"> -->
            <!-- <a class="nav-link" href="#">Maram Shankar</a>
          </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Sign up</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="json">sign out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="resto">list Resto</a>
      </li>

    </ul> -->
  
  <!-- </nav>
<h2>Routing concept</h2> -->
<!-- <a routerLink="login">Signup</a> | -->
<!-- <a routerLink="json">signout</a> -->
<!--<router-outlet></router-outlet> -->
<!-- <app-home></app-home> -->
<!-- <app-home-one></app-home-one> -->

<!-- <app-nav></app-nav>

<div class="container">

  <div class="row">
    <div class="col">

    <router-outlet></router-outlet>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-footer></app-footer>
    </div>
  </div>
</div> -->
<app-nav-one></app-nav-one>
<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-footer-one></app-footer-one>
    </div>
  </div>
</div>