/* You can add global styles to this file, and also import other style files */
/* .invalid{
    border: 1px solid red;
}
.btn-primary.disabled, .btn-primary:disabled {
    cursor: not-allowed;
} */
.fa-heart{
    color:palevioletred;
    
}