<div class="page-area">

    <h2>Home Component</h2>
    <div class="box">
     <h1>User Name is <span class="text-success"> {{userName}}</span></h1>
    </div>

        <div class="row">
            <div class="col-md-6">
                <app-comp1></app-comp1>
            </div>

            <div class="col-md-6">
                <app-comp2></app-comp2>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <app-comp3></app-comp3>
            </div>

            <div class="col-md-6">
                <app-comp4></app-comp4>
            </div>
        </div>
    </div>